<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="./vendor/autoload.php" executionOrder="depends,defects" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="php-discogs-api Test Suite">
      <directory>tests/Discogs/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
  </source>
</phpunit>
