<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         testdox="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         executionOrder="depends,defects"
         failOnWarning="true"
         failOnRisky="true"
         requireCoverageMetadata="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">
  <testsuites>
    <testsuite name="Discogs API Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <coverage>
    <report>
      <html outputDirectory="coverage"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="memory_limit" value="-1"/>
  </php>
</phpunit>
